/* styling for the calendar display */

.fc-day{
    font-size: .8em;
}

.fc-timegrid{
    font-size: .6em;
}

/*Styling for the form
	c-dropdown is a custom class which displays a box with 
	checkboxes (c-dropdown-content) upon mouse hover for sub-activities
*/

.c-dropdown {
    position: relative;
    display: inline-block;
	
	border-style: solid;
    border-width: 1px;
    padding: 3px 7px;
    border-radius: 5px ;
}
.c-dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
	padding: 10px;
	min-width: 200px;
	z-index:3; /* makes sure it's above other stuff */
}
.c-dropdown:hover .c-dropdown-content {
	display: block;
}

.c-table {
	text-align: center;
}
.c-table td, th {
	padding: 1px 5px;
}